.Isko{
	position: absolute;
}
/*Tarih*/

.map {
  position: relative;
  float: right;
 max-width: 300px;

}
.jazy {
  position: absolute;
  bottom:  0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.map:hover .jazy {
  opacity: 1;
}
/*karta*/
#map{
	color: black;
	padding: 20px;
	font-family:  'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 5;

}