.tv{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
}

.player{
    width: 100%;
    max-width: 900px;
    position: relative;
}

.player img{
    width: 100%;
}


.player video{
    position: absolute;
    width: 96.0%;
    height: 82.1%;
    border-radius: 5px;
    top: 3.5%;
    left: 1.8%;
    background: #000;
}

.video-thumb{
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 999;
}

.video-thumb li{
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
}

.video-thumb img{
    width: 150px;
    opacity: .3;
    transition: .3s;
}

.video-thumb img:hover{
    width: 200px;
    opacity: 1;
}